<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baytech.wikramahotel">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.VerivyActivity"></activity>
        <activity android:name=".Activity.PickDateActivity" />
        <activity android:name=".Activity.MapsActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.StrukActivity" />
        <activity android:name=".Activity.SuccessBookActivity" />
        <activity android:name=".Activity.BookingActivity" />
        <activity android:name=".Activity.NotAvailableActivity" />
        <activity
            android:name=".Activity.DashboardActivty"
            android:label="@string/title_activity_dashboard_activty" />
        <activity android:name=".Activity.SliderActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.baytech.wikramahotel.Service.DailyReminderService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>